absl-py==0.8.1
altgraph==0.15
astor==0.8.0
bleach==1.5.0
cycler==0.10.0
deap==1.2.2
decorator==4.2.1
dill==0.3.1.1
future==0.16.0
gast==0.2.2
google-pasta==0.1.7
graphviz==0.8.2
grpcio==1.16.0
h5py==2.7.1
html5lib==0.9999999
hyperopt==0.1
joblib==0.13.2
Keras==2.3.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lxml==4.2.0
macholib==1.9
Markdown==2.6.10
matplotlib==3.1.1
mem-top==0.1.6
memory-profiler==0.55.0
mock==2.0.0
multiprocess==0.70.9
networkx==2.1
nose==1.3.7
numpy==1.17.2
opt-einsum==3.1.0
pandas==0.19.2
pathos==0.2.5
pbr==5.1.0
pefile==2017.11.5
pep8==1.7.1
pkg-resources==0.0.0
pox==0.2.7
ppft==1.6.6.1
protobuf==3.10.0
psutil==5.4.8
pycodestyle==2.4.0
pyDOE==0.3.8
pydot==1.2.3
PyInstaller==3.3.1
pymongo==3.6.0
Pympler==0.5
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.20.0
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
tabulate==0.8.5
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
tensorflow-tensorboard==0.1.8
termcolor==1.1.0
Werkzeug==0.13
wrapt==1.11.2
